* {
  box-sizing: border-box;
}

$pad: 20px;

.row {
  background: white;
  margin: 0 0 $pad 0;

  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  min-height: 30px;
  float: left;
  background:#ccc;
  padding-right: $pad;
  .row &:last-of-type {
    padding-right: 0;
  }
}

/* Opt-in outside padding */
.row-pad {
  padding: $pad 0 $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}

// desktop
.col-d-1{
  width: 8.333333333%;
}

.col-d-2{
  width: 16.666666666%;
}

.col-d-3{
  width: 24.999999999%;
}

.col-d-4{
  width: 33.333333332%;
}

.col-d-5{
  width: 41.666666667%;
}

.col-d-6{
  width: 50%;
}

.col-d-7{
  width: 58.33333333%;
}

.col-d-8{
  width: 66.666666667%;
}

.col-d-9{
  width: 75%;
}

.col-d-10{
  width: 83%;
}

.col-d-11{
  width: 91.666666667%;
}

.col-d-12{
  width: 100%;
}

// offset
.offset-1{
  margin-left: 8.333333333%;
}

.offset-2{
  margin-left: 16.666666666%;
}

.offset-3{
  margin-left: 24.999999999%;
}

.offset-4{
  margin-left: 233.333333332%;
}

.offset-5{
  margin-left: 41.666666667%;
}

.offset-6{
  margin-left: 50%;
}

.offset-7{
  margin-left: 58.33333333%;
}

.offset-8{
  margin-left: 66.666666667%;
}

.offset-9{
  margin-left: 75%;
}

.offset-10{
  margin-left: 83%;
}

.offset-11{
  margin-left: 91.666666667%;
}



